@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;600&display=swap');

* {
    font-family: 'Exo 2', sans-serif;
}

:root {
    --hf-orange: #F86F03;
    --hf-lavander: #31065A;
    --hf-purple: #170550;
}