.myservices {
    height: 800px;
    background-color: var(--hf-lavander);
    color: white;
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}