.portfolio {
    background-color: var(--hf-purple);
    width: 100%;
    padding: 0 30px;
    border: 1px solid var(--hf-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1350px;
    padding: 60px 0 ;
}

@media (max-width: 780px) {
    .galeria {
        margin-top: 0;
    }
}