.translate-btn {
    width: 230px;
    height: 40px;
    border-radius: 40px;
    border: 0 ;
    color: var(--hf-lavander);
    font-size: 18px;
    font-weight: 600;
    transition: 0.4s;
    margin-right: 15px;
}

.translate-btn:hover {
    color: white;
    cursor: pointer;
    background-color: var(--hf-orange);
    transition: 0.4s;
}

@media (max-width: 780px) {
    .translate-btn {
        width: 210px;
        height: 36px;
        font-size: var(--font-size-mobile);
    }
}
