.portitem {
    border-radius: 10px;
    margin: 8px;
    position: relative;
}

.portitem img {
    height: 200px;
    border-radius: 10px;
    margin-bottom: 16px;
}

.portitem:hover img {
    opacity: 50%;
}

.portitem p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.portitem:hover p {
    visibility: visible;
    color: white;
    opacity: 100%;
    font-size: 22px;
    font-weight: 600;
}