.myskills {
    width: 100%;
    padding: 0 30px;
    background-color: var(--hf-lavander);
    border: 1px solid var(--hf-lavander);
    display: flex;
    flex-direction: column;
}

.skills {
    display: flex;
    margin: 100px auto;
    width: 100%;
    max-width: 1200px;
    justify-content: space-around;
    flex-direction: column;
}

@media (max-width: 780px) {
    .myskills {
        padding: 0 15px;
    }
    
    .skills {
        margin: 80px auto;
    }
}