.menuHeader {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 780px) {
    .menuHeader {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}