.contact-item {
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 20px;
    font-weight: 600;
}

.contact-item img {
    margin-right: 35px;
}

@media (max-width: 780px) {
    .contact-item {
        font-size: 18px;
        font-weight: 500;
    }

    .contact-item img {
        margin-right: 25px;
    }
}