.header {
    background-color: var(--hf-purple);
    height: 85px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0 15px;
    z-index: 900;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.content {
    background-color: var(--hf-purple);
    margin: 0px auto;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.end {
    display: flex;
}


@media (max-width: 780px) {
    .header {
        height: auto;  
    }

    .content {
        width: 100%; 
        flex-direction: column-reverse;  
        align-items: center;  
        padding: 10px;  
    }

    .end {
        width: 100%;
        justify-content: space-between;  
        margin-bottom: 10px; 
    }
}