.header {
    background-color: var(--hf-purple);
    height: 85px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 900;
}

.content {
    background-color: var(--hf-purple);
    margin: 0px auto;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
