.perfiltext {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}

@media (max-width: 780px) {
    .perfiltext {
        font-size: var(--font-size-mobile);
        margin-bottom: 14px;
    }
}