.perfiltext1 {
    font-size: 30px;
    font-weight: 600;
    width: 320px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.perfiltext2 {
    font-size: 18px;
    font-weight: 600;
    width: 550px;
    margin-bottom: 30px;
}