.bannertext1 {
    color: var(--hf-orange);
    font-size: 30px;
    font-weight: 600;
}

.bannertext2 {
    font-size: 72px;
    font-weight: 600;
}

.bannertext3 {
    font-size: 35px;
    font-weight: 600;
}

.banner-span {
    color: var(--hf-orange);
}

.texts {
    margin-right: 100px;
}

@media (max-width: 780px) {
    .bannertext1 {
        font-size: 25px;
    }
    
    .bannertext2 {
        font-size: 60px;
    }
    
    .bannertext3 {
        font-size: 25px;
        margin-top: 20px;
    }
            
    .texts {
        margin-right: 0;
    }
}