.bannertexts {
    width: 500px;
}

.bannertext1 {
    color: var(--hf-orange);
    font-size: 30px;
    font-weight: 600;
}

.bannertext2 {
    font-size: 72px;
    font-weight: 600;
}

.bannertext3 {
    font-size: 35px;
    font-weight: 600;
}

.banner-span {
    color: var(--hf-orange);
}

.bannertext4 {
    font-size: 20px;
    font-weight: 400;
}