.banner {
    height: 776px;
    background-color: var(--hf-lavander);
    color: white;
    padding: 200px 146px;
    display: flex;
    justify-content: center;
}

.banner-content {
    display: flex;
    justify-content:space-between;
    width: 1200px;
}